services:
  code:
    image: $IMAGE_NAME
    container_name: $APP_NAME
    restart: unless-stopped
    ports:
      - $PORT:$PORT_EXPOSED
    environment:
      VIRTUAL_HOST: ${DOMAIN:-${APP_NAME}.${MAIN_DOMAIN}}
      LETSENCRYPT_HOST: ${DOMAIN:-${APP_NAME}.${MAIN_DOMAIN}}
      PUID: $PUID
      PGID: $PGID
      TZ: "Etc/UTC"
      SUDO_PASSWORD: $PASSWORD
      SUDO_USERNAME: $USERNAME
      CONNECTION_TOKEN: $CONNECTION_TOKEN
    volumes:
      - config:/config
      - $MEDIA_DIR:/mnt/media
volumes:
  config:

networks:
  default:
    name: dockerweb
    external: true
