services:
  gitea:
    image: gitea/gitea:latest
    container_name: gitea
    restart: always
    ports:
      - "${PORT}:${PORT_EXPOSED}"
    environment:
      GITEA__server__DOMAIN: "${DOMAIN}"
      GITEA__server__ROOT_URL: "https://${DOMAIN}/"
      GITEA__ACTIONS__DISABLE_REGISTRATION: "true"
      GITEA__service__DISABLE_REGISTRATION: "true"
      VIRTUAL_HOST: "${DOMAIN}"
      LETSENCRYPT_HOST: "${DOMAIN}"
      VIRTUAL_PORT: "${PORT_EXPOSED}"
    volumes:
      - gitea:/data
    networks:
      - dockerweb

  runner:
    image: gitea/act_runner:latest
    container_name: runner
    restart: always
    depends_on:
      - gitea
    environment:
      CONFIG_FILE: /config.yaml
      GITEA_INSTANCE_URL: "http://gitea:3000"
      GITEA_RUNNER_REGISTRATION_TOKEN: "${GITEA_TOKEN}"
    volumes:
      - ./config.yaml:/config.yaml
      - /var/docker-web:/var/docker-web
      - /var/run/docker.sock:/var/run/docker.sock
      - runner:/data
    networks:
      - dockerweb

volumes:
  gitea:
  runner:

networks:
  dockerweb:
    external: true
